# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://postgres:Dch2024@localhost:5432/movcol
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

JWT_SECRET_KEY= your_jwt_secret_key_here
DEFAULT_TRACKER_USERNAME= admin
DEFAULT_TRACKER_PASSWORD= admin123


# Front-End Variables
BASENAME_REACT=/
BACKEND_URL=http://127.0.0.1:3001/api

# OTRS
REACT_APP_URL_OTRS_INTERNAL="http://otrs.interno.tuempresa.com" # Reemplaza con la URL interna real
REACT_APP_URL_OTRS_EXTERNAL="https://soporte.tuempresa.com"    # Reemplaza con la URL externa/corporativa real

# Sistema de Inventarios
REACT_APP_URL_INVENTORY_INTERNAL="http://inventario.interno/login" # Reemplaza con la URL interna real
REACT_APP_URL_INVENTORY_EXTERNAL="https://inventario.tuempresa.com/portal" # Reemplaza con la URL externa/corporativa real

# OpenDCIM
REACT_APP_URL_OPENDCIM_INTERNAL="http://192.168.1.50/opendcim" # Reemplaza con la URL interna real
REACT_APP_URL_OPENDCIM_EXTERNAL="https://dcim.tuempresa.com"    # Reemplaza con la URL externa/corporativa real


# Gestión de Acceso (Seguridad - URL única)
REACT_APP_URL_ACCESS_SECURITY="https://acceso.seguridad.tuempresa.com" # Reemplaza con la URL real

# -----------------------------