/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

    /* ======= Header ======= */
    .header {
    background-color: #26282c;
      width: 100%;
      z-index: 30;
      height: 60px;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
    }
    
    .header.header-scrolled {
      background: #fff;
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    
    .header.header-scrolled a {
      color: #494d55;
    }
    
    .header.header-scrolled .logo {
      color: #40babd;
      top: 0;
    }
    
    .header.header-scrolled .logo:focus {
      color: #494d55;
    }
    
    .header.header-scrolled .logo .logo-icon-wrapper {
      background: #40babd;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      text-align: center;
    }
    
    .header.header-scrolled .logo .logo-icon {
      width: 20px;
      height: 20px;
      margin-right: 0;
    }
    
    .header.header-scrolled .main-nav .nav .nav-link {
      color: #616670;
    }
    
    .header.header-scrolled .main-nav .nav .nav-link:hover {
      color: #555963;
    }
    
    .header.header-scrolled .main-nav .nav .active .nav-link {
      color: #494d55;
      border-bottom: 4px solid #40babd;
    }
    
    .header a {
      color: #fff;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
    }
    
    .header a:hover,
    .header a:focus {
      text-decoration: none;
      color: white;
    }
    
    .header .logo {
      margin: 0;
      font-size: 28px;
      text-decoration: none;
      position: absolute;
      left: 1rem;
      top: 8px;
    }
    
    .header .logo:focus {
      color: white;
    }
    
    .header .logo .logo-icon-wrapper {
      margin-right: 6px;
      position: relative;
      display: inline-block;
      top: -3px;
      line-height: 1.2;
    }
    
    .header .logo .logo-icon {
      width: 80px;
      height: 50px;
    }
    
    .header .logo .highlight {
      font-weight: 800;
    }
    

/* ======= Hero Section ======= */
.hero-section {
    min-height: 500px;
    background-image: ('../img/dch.jpg');
 
  }
  
  .hero-main {
    color: #e7dede;
  }
  .figure-holder-wrapper {
    position: relative;
  }
  
  .figure-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .main-item .item-1 {
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .heading {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .intro {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .hero-main .row {
        flex-direction: column-reverse;
    }
  
    .figure-holder {
        margin-top: 20px;
    }
  }
/* ======= register Section ======= */
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }

  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form select  {
    position: relative;
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    
    transition: 0.3s ease;
  }
  .form label select option{
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    transition: 0.3s ease;
  }

  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

/* ====== Footer ====== */
.footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}

.footer a {
  color: #40babd;
}

.footer .fa-heart {
  color: #EA5395;
}